<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   {{!-- <div class="container77">
    <h2>REGISTRATION FORM</h2>
    <div class="registration">
        <form action="/userregistration" method="post"> 
                <label for="firstname">firstname</label>
        <input type="text" class="first" id="demo1" name="firstname"><br><br>
        <label for="lastname">lastname</label>
         <input type="text" name="lastname"><br><br>
         <label for="phoneno">phone number</label>
         <input type="text" name="phoneno"><br><br>
         <input type="text" name="email" id="">
         <label for="email">email</label>
         <input type="password" name="password">
        <label for="password">password</label> 
        
         <button>register</button>
</form>
        
         
         
    </div>

   </div>  --}}
   <div class="container98">
    <div class="card98">
        <div class="innerbox98">
            <div class="cardback98">
                <h2>Login</h2>
                <form action="/login" method="post">
                    {{!-- <input class="inputbox98" type="text" placeholder="enter your Name"> --}}
                    <input class="inputbox98" type="email" placeholder="enter your email" name="email">
                    <input class="inputbox98" type="password" placeholder="enter your password" name="password">
                     <input class="inputbox98" type="submit" placeholder="submit">
                    <input type="checkbox"><span>remember me</span>
                </form>
                <button class="inputbox98" type="button">i have an account</button>
                <a href="">forget password</a>
            </div>
        </div>
    </div>
   </div>
</body>
</html>